/* $white: #ffffff;
$gray: #d6d6d6;
$black: #000000;

$light-text: #858585;
$dark-text: #424242;

$light-blue: #155bcc;
$dark-blue: #164fac;

$accent: #2fda7f;
$background: #fafafa;
$search: #f5f5f5;

// Fonts
$main-font: 'Roboto';
$second-font: 'Lato';
$main-weight: 300; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family: 'Roboto';
}
